@import 'tailwindcss';

body {
  color: #444;
  font-weight: 400;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.shrek,
.footer:hover {
  background: url('../images/hover_sherk.jpg');
  background-repeat: repeat;
  background-size: 150px 100px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.Vue-Toastification__toast {
  background-image: url('../images/remove_from_favorite.gif') !important;
  background-repeat: no-repeat !important;
  background-size: 20%;
  background-position-x: right;
  background-position-y: top;
}

.Vue-Toastification__toast--success {
  background-image: url('../images/add_to_favorite.gif') !important;
  background-repeat: no-repeat !important;
  background-size: 20%;
  background-position-x: right;
  background-position-y: top;
}
