@import 'tailwindcss';

body {
  color: #444;
  font-weight: 400;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.footer:hover {
  background: url('../images/hover_sherk.jpg');
  background-repeat: repeat;
  background-size: 200px 150px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
